@import "mixin";

/**/
/* НАВІГАЦІЯ СТАТІ*/

.tabs
{
  display: none;
}

/* БОКОВА РЕКЛАМА*/

.region-sidebar-second {
  .block-block-content79981f2c-b321-4d89-8d54-a289f4a32e00 {
    display: none;
  }
}

/*РАНДОМ СТАТЯ*/

.block-views-blockrandom-article-block-1 {
  display: none;
}

/* СОЦ.МЕРЕЖІ */
.fa-instagram {
  color: black;
}
.fa-facebook {
  color: black;
}
.fa-twitter {
  color: black;
}
.sidebar .section {
  padding: 0px 0px 0px;
}
.sidebar .block {
  margin: 0 0 0px;
}
.sidebar .block .content {
  font-size: 10px;
}

/*СТАТІ*/

.view-id-latest_article_view_mode2_ {
  .views-view-grid {
    display: flex;
    font-size: 10px;
  }
}
.field--name-title {
  font-size: 13px;
  a {
    border-bottom: none;
  }
}
.field--name-field-media-for-article{
  a {
    border-bottom: none;
  }
}
.block-views-blocklatest-article-view-mode2--block-1{
  .block-field-blocknodearticletitle{
    a{
      @include overflow-text;
    }
  }
}
.view-id-latest_article_view_mode1_{
  a{
    font-size: 23px;
  }
}

/*ШОП*/
.block-views-blockshop-block-1 {
  h2 {
    background-color: silver;
    border-radius: 10px;
    font-weight: Bold;
    padding-left: 160px;
  }
  img {
    margin-left: 70px;
    border-style: groove;
    border-color: #2b2b2b;
  }
  a {
    margin-left: 10px;
    font-size: 15px;
  }
}
