/**/
/* НАВІГАЦІЯ СТАТІ*/

.tabs
{
  display: none;
}

/* БОКОВА РЕКЛАМА*/

.region-sidebar-second {
  .block-block-content79981f2c-b321-4d89-8d54-a289f4a32e00 {
    display: none;
  }
}

/*РАНДОМ СТАТЯ*/

.block-views-blockrandom-article-block-1 {
  display: none;
}

/* СОЦ.МЕРЕЖІ */
.fa-instagram {
  color: black;
}
.fa-facebook {
  color: black;
}
.fa-twitter {
  color: black;
}
.sidebar .section {
  padding: 0px 0px 0px;
}
.sidebar .block {
  margin: 0 0 0px;
}
.sidebar .block .content {
  font-size: 10px;
}

