
//РЕГІОН ПІД ЛОГО

.region-header {
  background-color: black;
}
.layout-container{
  background-color: black;
}

/*ЛОГО САЙТУ*/

.region-header {
  .field--name-field-media-for-adv {
    height: 80px;
    width: 113px;
    margin: auto;
  }
}

 //МЕНЮ САЙТУ

.region-primary-menu {
  background-color: black;
}
.region-primary-menu .menu a {
  border-radius: 50px;
  text-shadow: 0 0px #eee;
  text-align: center;
}

/*ПОШУК*/

.search-block-form{
  display: none;
}

/* КОМП'ЮТЕРНА ВЕРСІЯ ХЕДЕРА */

@media screen and (min-width: 1024px) {
  #header.header{
    background-color: black;
    background-image: none;
  }
  .region-header {
      display: flex;
      justify-content: center;
  }
  .region-primary-menu .menu a {
    border-radius: 3px;
    background-color: white;
  }
}
