.video-list {
  text-align: center;
}
.data-videolist {
  font-size: 10px;
  margin-left: 200px;
}
.title-videolist {
  padding-left: 3px;
  background: orange;
  color: black;
  border: none;
}
.block-views-blockvideo-list-block-1 {
  h2 {
    display: none;
  }
}
